@import url('https://fonts.googleapis.com/css?family=Faster+One|Permanent+Marker|Russo+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  font-size: 2.4vw;
  line-height: 2.8vw;
}

body {    
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: radial-gradient(ellipse at top, #CAF5EB, transparent),
              radial-gradient(ellipse at bottom, #BD9FF5, transparent),
              radial-gradient(ellipse at left, #BD9FF5, #2DC49B),
              radial-gradient(ellipse at right, #CAF5EB, transparent);
}

body:before {  
  display: block;
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: radial-gradient(ellipse at top, #caf5eb, transparent),
              radial-gradient(ellipse at bottom, #bd9ff5, transparent),
              radial-gradient(ellipse at left, #bd9ff5, #2dc49b),
              radial-gradient(ellipse at right, #caf5eb, transparent);
  z-index: -100;
}

.rotate-message {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92vw;
  font-size: 3rem;
  line-height: 1.1;
  /* color: #fff; */
  text-align: center;
  padding: 2vw;
  margin: auto;
  background: #d97828;
  color: #fff;
  padding: 2vw;  
  padding-right: 3vw;  
  border: 1vw solid #0189bb;    
  box-shadow: 10px 10px 10px -8px rgb(0 0 0 / 50%),
              inset 4px 4px 0 0 #e102a8, 
              inset -4px -4px 0 0 #e102a8;
}

.rotate-message a {
  text-decoration: none;
  font-weight: bold;
  color: #e9f259;
  border-bottom: 4px solid #e9f259;
}

.emojis {
  position: relative;
  margin: 8vw auto 0;
  animation: screenRot 3s infinite;
}

.phone {
  position: relative;
  font-size: 4em;
  z-index: 50;
}

.hand {  
  position: absolute;
  display: block;
  font-size: 6em;
  top: -0.2em;
  left: 0.5em;
  transform: rotateZ(-90deg);
  z-index: 40;
}

.bottom-message {
  margin-top: 4em;  
}

.zoom-container {  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform-origin: 50% 10%;  
  transform-style: preserve-3d;  
  will-change: transform;
}

.cassette {  
  position: relative;
  width: 76vw;
  height: 48vw;  
  background: rgba(217, 120, 40, 1); 
  /* background: rgba(40, 120, 217, 0.4); */
  border-radius: 2vw;    
  z-index: 6;
}

.screw {
  box-sizing: border-box;
  position: absolute;  
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #9C9289;
  border-top: #86807a 3px solid;
  border-right: #86807a 3px solid;  
}

.screw.top-left {
  top: 0.5vw;
  left: 19vw;  
}

.screw.top-right {
  top: 0.5vw;
  right: 19vw;
  border-top: none;  
  border-bottom: #86807a 3px solid;
}

.screw.bottom-left {
  bottom: 0.5vw;
  left: 1vw;
  border-top: none;
  border-bottom: #86807a 3px solid;
  border-right: #86807a 3px solid;  
  border-left: #86807a 3px solid;  
  
}

.screw.bottom-right {
  bottom: 0.5vw;
  right: 1vw;
  border-top: #86807a 4px solid;
  border-right: #86807a 3px solid;  
  border-left: #86807a 3px solid;
}

.peg-container {  
  width: 34%;
  height: 6vw;  
  position: absolute;
  left: 50%;
  border: 4px solid #bb6019;
  border-top: 0;
  transform: translateX(-50%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sticker {
  position: absolute;
  top: 8vw;
  left: 50%;
  transform: translateX(-50%);
  width: 66vw;
  height: 28vw;
  background: #e5a656;  
  border-radius: 30px;
}

.sticker-header {
  font-family: 'Russo One', sans-serif;  
  text-align: center;
  color: #0189bb;
  text-shadow: 0.4vw 0.2vw 0 #e102a8, 0.6vw 0.4vw 0 #e4ff00;
  line-height: 2;
  letter-spacing: 2px;
}

.rotate-message .sticker-header {
  line-height: 1;
}

.sticker-texts {
  font-family: 'Permanent Marker', sans-serif;
  position: absolute;
  font-size: 2rem;    
  color: #0189bb;
  text-shadow: 0.4vw 0.2vw 0 #ff007f;
}

.sticker-texts p span {
  font-size: 2rem;    
}

.sticker-text-left {
  top: 50%;
  left: -10%;
  transform: rotate(-90deg);
  line-height: 0;
}

.sticker-text-right {
  top: 50%;
  right: -10%;
  transform: rotate(90deg);
  line-height: 0;
}

.reel-square {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 29%;
  left: 50%;
  width: 45vw;
  height: 12vw;
  background: rgba(217, 120, 40, 1);
  transform: translate(-50%);
  border-radius: 2vw;
  padding-top: 1vw;
}

.reels {
  width: 9vw;
  height: 9vw;
/*   background: #a6b363; */
  background: radial-gradient(circle, rgba(217, 120, 40, 1) 14%, #a6b363 14%);
  border-radius: 50%;  
}

.reel-left {}

.reel-right {}

.spinners-sqaure {  
  position: relative;
  width: 20vw;
  height: 9vw;
  background: #bb6019;
  border-radius: 4px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.spinners-sqaure:before
, .spinners-sqaure:after {
  content: '';
  display: block;
  width: 3vw;
  height: 3vw;
  background: rgba(217, 120, 40, 1);  
  position: absolute;
  top: 50%;  
  z-index: 300;
  transform: rotate(45deg) translateY(-50%);
}

.spinners-sqaure:before {
  left: -18%;
}

.spinners-sqaure:after {    
  left: 93%;
}

.spinners {    
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: 0.6vw solid #a6b363;
}

.number-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(30deg);
  color: #fff;
}

.spinner-right .number-container {
  color: #333;
}

.spinner-number {  
  position: absolute;
  top: 1vw;
  left: 8vw;
  height: 4vw;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;    
  text-align: center;
  line-height: 1;  
  transform-style: preserve-3d;
  transform-origin: 50% 200%;  
}

.n-two {
  transform: rotateZ(60deg)
}

.n-three {
  transform: rotateZ(120deg)
}

.n-four {
  transform: rotateZ(180deg)
}

.n-five {
  transform: rotateZ(240deg)
}

.n-six {
  transform: rotateZ(300deg)
}

.spinner-left {
  top: -50%;
  left: -50%;
  background: #c21B34;     
}

.spinner-right {
  top: -50%;
  right: -50%;
  background: #d5C128;
}

.reel-trap { 
  position: absolute;
  width: 50vw;
  height: 11vw;
  border: 4px solid #bb6019;
  border-top-left-radius: 6vw;
  border-top-right-radius: 6vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0;
}

/* START Slider buttons stylings */
.slider-butt {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 22vw;
  height: 3vw;
  background: linear-gradient(to right, 
    #a6b363 , 
    #a6b363 26%, 
    #8b9153 26%,
    #8b9153);
  background-size: 100%;
  border: 0;
  cursor: pointer;
  
  /*text stylings */
  font-size: 1rem;
  color: #1C481C;
}

.slider-butt:hover {
  background: linear-gradient(to right, 
    #8b9153 20%,
    #a6b363 20%,
    #a6b363 46%,
    #8b9153 46%,
    #8b9153);
}

.slider-butt:active {
  background: linear-gradient(to right, 
    #8b9153 76%,
    #a6b363 76%,
    #a6b363 );  
}

.slider-butt:active
, .slider-butt:focus {
  outline: 4px solid #3F1C00;
  outline-offset: 2px;
}

.slider-butt:disabled {
  color: #626262;
  background: linear-gradient(to right, 
    #a6b363 , 
    #a6b363 26%, 
    #8b9153 26%,
    #8b9153);
}
/* END Slider buttons stylings */


/* START Cards stylings */
.cards {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 400vw;  
}

.board {    
  position: relative;
  box-sizing: border-box;
  width: 74vw;
  height: 48vw;  
  padding: 1vw;
  margin-top: 1vw;
  border-radius: 6px;
  background: #d97828;  
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.board:after {
  content: '';
  position: absolute;
  top: -1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 72vw;
  height: 1vw;  
  background: #bb6019;
  z-index: 100;
}

.board-content { 
  position: relative;
  display: flex; 
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  border-radius: 3px;
  background: radial-gradient(ellipse at top, #f4ff00, transparent), radial-gradient(ellipse at bottom, #c07314, transparent), radial-gradient(ellipse at left, #eeff6500, #f1e225);
  background-size: cover;
  background-position: center;
  background: #89aee1;    
}

.board-header {  
  position: absolute;
  top: 6vw;
  right: 4vw;
  display: inline-block;
  text-align: center;
  background: #d46ce7;    
  padding: 2vw;
  transform: rotate(8deg);
  box-shadow: 8px 8px 10px -6px rgba(0, 0, 0, 0.75);
  z-index: 70;
}

.board-blurb {
  position: relative;
  max-width: 80%;
  color: #fff;
  background: linear-gradient(157deg, #0189bb 91%, #e102a8 91%);  
  padding: 2vw;  
  padding-right: 3vw;  
  border: 1vw solid #e9f259;    
  box-shadow: 10px 10px 10px -8px rgb(0 0 0 / 50%),
              inset 8px 8px 2px 0 #e102a8, 
              inset -8px -8px 2px 0 #e102a8;
  z-index: 60;
}

.board-blurb h3
, .board-blurb p:not(:last-child) {
  margin-bottom: 1rem;
}

.board-blurb a {
  text-decoration: none;
  font-weight: bold;
  color: #e9f259;
  border-bottom: 4px solid #e9f259;
}

.client-list {
  font-size: 0.8rem;  
}

.mainline {
  background: url('assets/mainlinebg.png');
  background-size: cover;
  background-position: center;
}

.citi {
  background: url('assets/citiSM.png');
  background-size: cover;
  background-position: center;
}

.webtec {
  background: url('assets/webtecSM.png');
  background-size: cover;
  background-position: center;
}

.webtec .board-header
, .exigo .board-header {
  top: 3vw;
}

.webtec .board-header span {
  font-size: 0.6em;
}

.exigo {
  background: url('assets/exigoSM.png');
  background-size: cover;
  background-position: center;
}

.none {
  display: none;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0.1;
}

.mobile-signature {
  margin-top: 2rem;
  text-align: right;
}

/*START Question mark slider*/
.question-mark-container {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  top: 50%;
  right: 0;
  transform: translate(85%, -50%);    
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-right: 2vw;
  background: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

.question-mark-container:hover
, .question-mark-container:focus {
  transform: translate(0, -50%);  
  transition: transform 0.4s ease-in-out;  
}

.question-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border: 0;
  border-radius: 50%;  
  background: rgba(0, 0, 0, 0.35);  
  margin-right: 2vw;  
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

/* Animations */
@keyframes screenRot {
  0%, 10% {
    transform: rotate(0deg);
  }
  
  90%, 100% {
    transform: rotate(90deg);
  }
}

/* Media Queries */
@media screen and (max-width: 762px) {
  body {
    max-height: 100vh;
    overflow-y: hidden;
  }

  .rotate-message {
    display: block;
  }
  
  .zoom-container
  , .question-mark-container {
    display: none;
  }
}
